.player-card {
	width: 410px;
	min-height: 190px;
	border-radius: 5px;
	background: rgba(0,0,0,.5);
	display: flex;
	justify-content: center;
	margin: 5px;
	position: relative;
	padding: 10px;
	box-sizing: border-box;
}

.player-card__close {
	position: absolute;
	top: 8px;
	right: 5px;
	cursor: pointer;
	opacity: .5;
	transition: all 1s ease-in-out;
}

.player-card__close:hover {
	opacity: 1;
}

.player-card__specs {
	position: absolute;
	top: 0;
	left: 10px;
	flex-direction: row !important;
}

.player-card__rankings {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.player-card__name {
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	text-transform: capitalize;
}

.player-card__loader {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.player-card__class {
	text-align: left;
	font-size: 14px;
	opacity: .8;
}

.latest-items {
	display: flex;
	text-align: left;
	font-size: 12px;
	align-items: baseline;
}
.latest-items__date {
	opacity: .8;
	width: 30%;
}
.latest-items__link {
	width: 45%;
}

.latest-items__link a {
	text-decoration: none;
	color: rgb(163, 53, 238);
	font-weight: bold;
}
.latest-items__response {
	font-size: 12px;
	opacity: .8;
	width: 25%;
}
